
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    padding: 40px;
}



   .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: auto;

    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 12px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;  
    padding: 20px;          
    margin: 0;              
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.card h3 {
    margin-bottom: 10px;
}
.card p {
    margin: 0;
    color: #555;
}

/* Mobile view */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}
